.nav {
  font-family: "Lato", sans-serif;
  display: flex;
  height: 72px;
  align-items: center;
  background-color: #198000;
  justify-content: space-between;
}
.img {
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 8px;
}

.imgcontainer {
  display: flex;
}

.logo {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.input {
  width: 600px;
  height: 40px;
  border-radius: 8px;
  font-size: 14px;
  padding-left: 24px;
}
.input::placeholder {
  color: rgb(159, 159, 159);
}

.links {
  display: flex;
  flex-direction: row;
  padding: 24px;
  color: white;
  font-family: "Lato", sans-serif;
  justify-content: space-around;
  border: 24px;
  font-size: 14px;
}
.home:hover {
  color: yellow;
}
.home {
  margin: 8px;
  text-decoration: none;
  color: white;
}
.pagename {
  font-size: 36.65px;
  padding: 8px;
  color: white;
  font-weight: 900;
}

.iconcont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
  border-radius: 8px;
}

.iconcont:hover {
  background-color: rgb(214, 214, 6);
}

.icon {
  height: 32px;
  filter: invert(92%) sepia(96%) saturate(4453%) hue-rotate(183deg)
    brightness(127%) contrast(93%);
}
.preset {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1425px) {
  .input {
    margin-left: 0px;
  }
}

@media (max-width: 1000px) {
  .pagename {
    display: none;
  }
}
