.panel {
  background-color: #75c062;
  width: 15vw;
  min-height: 100vh;
}

.titlePrincipal {
  color: black;
  font-size: 14px;
  margin-left: 16px;
  font-weight: 600;
  letter-spacing: +1.5px;
  margin-top: 24px;
  padding-bottom: 24px;
}

.title {
  color: black;
  font-size: 14px;
  margin-left: 16px;
  font-weight: 600;
  letter-spacing: +1.5px;
  padding-bottom: 24px;
  display: flex;
}

.father {
  position: relative;
}
.select {
  margin-left: 24px;
  width: 80%;
  height: 40px;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 8px;
  appearance: none;
}

.option {
  color: black;
  font-weight: 600;
  letter-spacing: +1.5px;
  margin-left: 24px;
  padding: 8px;
  font-size: 14px;
}
.optioninput {
  padding-left: 16px;
}

/*seleccionar flechita y padding-left 16px*/

.options {
  padding-bottom: 24px;
}

.option:hover {
  color: yellow;
}

.filters {
  display: flex;
  margin-left: 4px;
  justify-content: space-between;
}

button {
  margin-right: 8vw;
  margin-top: 4px;
}

.customArrow {
  display: block;
  top: 0;
  right: 40px;
  height: 100%;
  width: 2rem;
  position: absolute;
  pointer-events: none;
}

.customArrow::after,
.customArrow::before {
  --size: 0.5em;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.customArrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 35%;
}
.customArrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 65%;
}
